
<h3><p class="p1">Cart Details</p></h3>
        <div class="container">  
                        <br>
                        <div class="row" *ngFor="let pizza of pizzas">
                             <div class="col-md-3">{{pizza.pizzaName}}</div>   
                             <div class="col-md-3">{{pizza.price}}</div>
                           
                        </div> 
                        <button (click)="buy()">Buy</button> 
                        <button routerLink="/cart/delete">Delete</button>
                       </div> 
                     